pipeline/Ingestion.json
{
	"name": "Ingestion",
	"properties": {
		"activities": [
			{
				"name": "source_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select pip_con.*, LastWatermarkValue\nfrom dbo.PipelineConfig as pip_con\nLEFT JOIN dbo.Watermark  wm on pip_con.TableName = wm.TableName ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "source_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('source_lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Is_Full_load",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().LoadType,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Incremental_Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "PostgreSqlV2Source",
												"query": {
													"value": "SELECT * FROM @{item().SourceSchema}.@{item().TableName} \nWHERE @{item().WatermarkColumn} > DATEADD(day, -1, '@{item().LastWatermarkValue}')\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_NeonPostgress",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Adlsgen2",
												"type": "DatasetReference",
												"parameters": {
													"bronze_path": "@concat('bronze/',item().BronzeFolder)",
													"table_name": "@item().TableName",
													"p_year": "@formatDateTime(utcNow(), 'yyyy')",
													"p_month": "@formatDateTime(utcNow(), 'MM')",
													"p_day": "@formatDateTime(utcNow(), 'dd')"
												}
											}
										]
									},
									{
										"name": "Get_max_watermark_value",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Incremental_Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "PostgreSqlV2Source",
												"query": {
													"value": "select max(@{item().WatermarkColumn}) as NewWatermarkValue\nfrom @{item().SourceSchema}.@{item().TableName}\nwhere @{item().WatermarkColumn} > '@{item().LastWatermarkValue}' :: timestamp",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00"
											},
											"dataset": {
												"referenceName": "DS_NeonPostgress",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Update_watermark",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Get_max_watermark_value",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[UpdateWatermark]",
											"storedProcedureParameters": {
												"LastWatermark": {
													"value": {
														"value": "@if(\n    empty(activity('Get_max_watermark_value').output.value[0].NewWatermarkValue),\n    '',\n    formatDateTime(activity('Get_max_watermark_value').output.value[0].NewWatermarkValue, 'yyyy-MM-ddTHH:mm:ss.fffffff')\n)\n",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"TableName": {
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Metadata_DB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "success_ingestionaudit",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Incremental_Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_InsertIngestionAudit]",
											"storedProcedureParameters": {
												"EndTime": {
													"value": {
														"value": "@activity('Incremental_Load').output.executionDetails[0].end",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ErrorMessage": {
													"value": null,
													"type": "String"
												},
												"LoadType": {
													"value": {
														"value": "@item().LoadType",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('Incremental_Load').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSystem": {
													"value": "\"NeonDB\"",
													"type": "String"
												},
												"StartTime": {
													"value": {
														"value": "@activity('Incremental_Load').output.executionDetails[0].start",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Status": {
													"value": "\"Success\"",
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Metadata_DB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "fail_ingestionaudit",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Incremental_Load",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_InsertIngestionAudit]",
											"storedProcedureParameters": {
												"EndTime": {
													"value": {
														"value": "@activity('Incremental_Load').output.executionDetails[0].end",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ErrorMessage": {
													"value": {
														"value": "@activity('Incremental_Load').error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"LoadType": {
													"value": {
														"value": "@item().LoadType",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": "0",
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSystem": {
													"value": "\"NeonDB\"",
													"type": "String"
												},
												"StartTime": {
													"value": {
														"value": "@activity('Incremental_Load').output.executionDetails[0].start",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Status": {
													"value": "\"Failed\"",
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Metadata_DB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "incremental_table_transformation",
										"type": "DatabricksNotebook",
										"dependsOn": [
											{
												"activity": "Update_watermark",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/SouthBean_DE_Project/bronzeTosilver",
											"baseParameters": {
												"table_name": {
													"value": "@item().TableName",
													"type": "Expression"
												},
												"trigger_time": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureDatabricks1",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_Full_Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "PostgreSqlV2Source",
												"query": {
													"value": "select * from @{item().SourceSchema}.@{item().TableName}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_NeonPostgress",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_adls_full_load",
												"type": "DatasetReference",
												"parameters": {
													"bronze_path": {
														"value": "@concat('bronze/',item().BronzeFolder)",
														"type": "Expression"
													},
													"table_name": {
														"value": "@concat(item().TableName,'.parquet')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "fullload_success_ingestionaudit",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_Full_Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_InsertIngestionAudit]",
											"storedProcedureParameters": {
												"EndTime": {
													"value": {
														"value": "@activity('Copy_Full_Load').output.executionDetails[0].end",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ErrorMessage": {
													"value": null,
													"type": "String"
												},
												"LoadType": {
													"value": {
														"value": "@item().LoadType",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('Copy_Full_Load').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSystem": {
													"value": "\"NeonDB\"",
													"type": "String"
												},
												"StartTime": {
													"value": {
														"value": "@activity('Copy_Full_Load').output.executionDetails[0].start",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Status": {
													"value": "\"Success\"",
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Metadata_DB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "fullload_fail_ingestionaudit",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_Full_Load",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_InsertIngestionAudit]",
											"storedProcedureParameters": {
												"EndTime": {
													"value": {
														"value": "@activity('Copy_Full_Load').output.executionDetails[0].end",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ErrorMessage": {
													"value": {
														"value": "@activity('Copy_Full_Load').error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"LoadType": {
													"value": {
														"value": "@item().LoadType",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": "0",
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSystem": {
													"value": "\"NeonDB\"",
													"type": "String"
												},
												"StartTime": {
													"value": {
														"value": "@activity('Copy_Full_Load').output.executionDetails[0].start",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Status": {
													"value": "\"Fail\"",
													"type": "String"
												},
												"TableName": {
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Metadata_DB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "fullload_table_transformation",
										"type": "DatabricksNotebook",
										"dependsOn": [
											{
												"activity": "fullload_success_ingestionaudit",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/SouthBean_DE_Project/bronzeTosilver",
											"baseParameters": {
												"table_name": {
													"value": "@item().TableName",
													"type": "Expression"
												},
												"trigger_time": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureDatabricks1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "silvertogold_transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach_source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/SouthBean_DE_Project/silverTogold"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-11T07:44:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}